<a href="https://colab.research.google.com/github/HuyenNguyenHelen/Huyen_INFO5731_Spring2020/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
def length_str (string):
  return len(string)
length_str ("friends")

7

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
def count_char(string):
  hist={}
  for character in string:
    hist[character]=hist.get(character,0)+1
  return hist
count_char ("google.com")

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list

In [0]:
def sum_items (list):
  return sum (list)
my_list=[7,3,6,7]
sum_items(my_list)

23

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
def change_char (my_string):
  for a in my_string:
    if a=string[1] and string[a]<string[b]:
      b="$"
    return my_string
change_char ("bana")

ValueError: ignored

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
def my_s (a,b):
  return 3.14*(1+a/b)**3

my_s (2,4)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
def concatenate_dict (dict1, dict2, dict3):
  my_dict= dict(dict1)
  my_dict.update (dict2)
  my_dict.update(dict3)
  return my_dict
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
concatenate_dict (dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
def check_ele(element, tuple):
  if element in tuple:
    return True
  else: 
    False
my_tuple=("ann","ben","cotie")
check_ele ("ben", my_tuple)

True

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
def max_min (set):
  return max(set), min(set)
my_set={14,90,30,20,30}
max_min(my_set)

(90, 14)