<a href="https://colab.research.google.com/github/HuyenNguyenHelen/Huyen_INFO5731_Spring2020/blob/master/practice_coding_in_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def is_abecedarian (word):
  previous = word [0]
  for c in word:
    if c<previous:
      return False
    previous = c
  return True
is_abecedarian ("abcde")
is_abecedarian ("shsusijo")

False

In [0]:
#p 103
# word[i] < word[i+1] means that the computer understand alphabetical order by indexing alphabet 
def is_abecedarian (word):
  i=0
  while i < len (word) +1 :
    if word[i] < word[i+1]:
      return True
    return False
is_abecedarian ("abcde")

True

In [0]:
#for exp
str("d") < str("a")

False

In [0]:
#palindrome: some words are reserved to be themselves
#Book's way
def is_palindrome (word):
  i=0
  j=len(word)-1
  while i<j:
    if word [i] !=word[j]:
      return False
    i=+1
    j=j-1
  return True
is_palindrome("noon")
is_palindrome ("nottion")

False

In [0]:
#my way, I think its correct, is it?
def is_palindrome (word):
  i=len(word)-1
  if word [:i] == word [-i+1:]:
    return True
  return False
is_palindrome ("noon")
is_palindrome ("nottion")

False

CHAPTER 11: DICTIONARY! 
h.get("a",0)
sorted(h)

In [0]:
# count letter appearing in the string
def histogram(s):
  d= dict()
  for c in s:
    if c not in d:
      d[c]=1
    else:
      d[c]+=1
  return d
histogram("I enjoyed landscape here")

{' ': 3,
 'I': 1,
 'a': 2,
 'c': 1,
 'd': 2,
 'e': 5,
 'h': 1,
 'j': 1,
 'l': 1,
 'n': 2,
 'o': 1,
 'p': 1,
 'r': 1,
 's': 1,
 'y': 1}

In [0]:
# how to print key value pair
def print_h (h):
  for c in h:
    print (c,h[c])
h={' ': 3,
 'I': 1,
 'a': 2,
 'c': 1,
 'd': 2,
 'e': 5,
 'h': 1,
 'j': 1,
 'l': 1,
 'n': 2,
 'o': 1,
 'p': 1,
 'r': 1,
 's': 1,
 'y': 1}
print_h (h)

  3
I 1
a 2
c 1
d 2
e 5
h 1
j 1
l 1
n 2
o 1
p 1
r 1
s 1
y 1

In [0]:
# how to print key-value pair in a sorted order
def sorted_print (h):
  for key in sorted(h):
    print(key, h[key])
h={' ': 3,
  'I': 1,
  'a': 2,
  'c': 1,
  'd': 2,
  'e': 5,
  'h': 1,
  'j': 1,
  'l': 1,
  'n': 2,
  'o': 1,
  'p': 1,
  'r': 1,
  's': 1,
  'y': 1}
sorted_print(h)

  3
I 1
a 2
c 1
d 2
e 5
h 1
j 1
l 1
n 2
o 1
p 1
r 1
s 1
y 1

In [0]:
# invert a dict
# we have a dict with letter: frequency, if we want to invert it to see which letters have the most frequency
def invert_dict(h):
  invert =dict()
  for key in h:
    val=h[key]
    if val not in invert:
      invert[val]=[key]
    else:
      invert[val].append(key)
  return invert
h={' ': 3,
  'I': 1,
  'a': 2,
  'c': 1,
  'd': 2,
  'e': 5,
  'h': 1,
  'j': 1,
  'l': 1,
  'n': 2,
  'o': 1,
  'p': 1,
  'r': 1,
  's': 1,
  'y': 1}
invert_dict(h)

{1: ['I', 'c', 'h', 'j', 'l', 'o', 'p', 'r', 's', 'y'],
 2: ['a', 'd', 'n'],
 3: [' '],
 5: ['e']}

In [0]:
cache={}
def ackermann(m, n):
    """Computes the Ackermann function A(m, n)

    See http://en.wikipedia.org/wiki/Ackermann_function

    n, m: non-negative integers
    """
    if m == 0:
        return n+1
    if n == 0:
        return ackermann(m-1, 1)
    else:
        cache[m, n] = ackermann(m-1, ackermann(m, n-1))
        return cache[m, n]
print(cache)

print(ackermann(3, 4))
print(ackermann(3, 5))

{}
125
253

In [0]:
def main():
  print("Hello World!")
  
main()
print("Guru99")

Hello World!
Guru99

In [0]:
def main():
  print("Hello World!")
  
if __name__== "__main__":
  main()

print("Guru99")

Hello World!
Guru99

TUPLE

In [3]:
t=tuple("lupins")
t
a="lupins",
print(a)

('lupins',)

In [6]:
# Access tuple by method .index() or idexing as list t[2], or slice operator t[1:3]
t=tuple("lupins")
t[2]
t.index("p")
t[1:3]

('u', 'p')

In [7]:
# But tuple is immutable, so if we try to modify it, we get an error
t=tuple("lupins")
t[0]="A"

TypeError: ignored

In [14]:
# Therefore, to capitalize A in the example, we can try with other way: create a new tuple, and replace "a" by "A"
# BUT WHY? it doesnt work as the book showed?
t=tuple("lupins")
t= ("A"), + t[1:]
t

TypeError: ignored

In [22]:
#tuple assignment
# Assign variable with method .split(" ")
addr= "ngochuyenanhspk5@gmail.com"
username=addr.split("@")
username
username,domain=addr.split("@")
username
domain

'gmail.com'

In [34]:
# tuple return multiple value
t= divmod(10,3)
t
#or 
quotient, remainder=divmod(10,3)
quotient
remainder
# ex
def min_max(t):
  return min(t), max(t)
t="cheer"
min_max(t)
t=[0,7,10,8]
min_max(t)
# try with tuple t
t=[0,7,10,8,]
min_max(t)

(0, 10)

In [54]:
# Function with variable number of arguments: begin a paramater with *, 
#????
def printall(*arg):
  print(*arg)
printall("a", 1, "uses")
# ex
def sum_all(t):
  t=tuple()
  n=0
  sum_all=0
  while n<len(t)-1:
     sum_all = sum (t[n], t[n+1])
     return sum_all
t=[1,4,5,3]
sum_all(t)

a 1 uses

In [55]:
#create a dict with list of tuples
t=[("a",0), ("b",2), ("c",3)]
d=dict(t)
d

{'a': 0, 'b': 2, 'c': 3}

In [57]:
# create  a dict with zip
d=dict(zip("abc", range(3)))
d

{'a': 0, 'b': 1, 'c': 2}